body {
    background-color: #262626;
    padding: 30px;
    padding-top: 0px;
}

/*Menubar*/
.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    position: relative;
    top: -65px;
  }

li {
    float: left;
    display: block;
    text-align: center;
    padding-right: 80px;
    height: 50px;
}

hr {
    width: 100%;
    position: relative;
    top: -40px;
}

@media only screen and (max-width: 1050px) {
    li.h3 {font-size: 18px;}
    li {padding-right: 40px;}
}

@media only screen and (max-width: 850px) {
    body {width: 800px;}
}

/*Diverse skriftstiler*/
h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-family: termina, sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Inter';
    font-weight: medium;
    color: white;
    font-size: 20px;
}

.logo {
    color: #FACFE3;
    height: 50px;
    width: 50px;
}

h3 {
    font-family: 'Inter';
    font-weight: medium;
    color: white;
    font-size: 20px;
}

h3:hover, .logo:hover {
    color: #FFB4CF;
}

p, td {
    font-family: 'Inter';
    color: white;
    font-size: 16px;
}

.torsdagsbar {
    color: #FFDE77;
}

button{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #FACFE3;
    font-family: 'Inter';
}

button:hover {
    background-color: #FFDE77;
}


/* footer */

#footer {
    margin-top: 200px; 
}
.footerText {
    color: rgb(163, 163, 163);
    font-size: 14px;

}

.footerTitle {
    color: rgb(180, 180, 180);
    font-size: 16px;
    font-weight: bold;
}